*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: sans-serif;

}
body{
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-image: url("./6964499_3499054.jpg");
background-size: cover;
background-repeat: no-repeat;
}
.container{
width: 400px;
height: 500px;
background-color: rgba(0,0,0,0.7);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
backdrop-filter: blur(10px);
border-radius: 30px;
border: 3px solid rgba(255,255,255,0.3);
box-shadow: 0 0 30px rgba(0,0,0,0.5);

}
h2{
color: white;
padding: 20px 0px;
text-transform: uppercase;
font-size: 2em;

}
.form-group{
    position: relative;
    width: 330px;
    margin: 30px;
    border-bottom: 3px solid #fff;
}
.form-group input{
width: 100%;
height: 40px;
background: transparent;
border: none;
outline: none;
font-size: 1em;
color: #fff;
padding: 0px 30px 0px 10px;
}
.form-group label{
position: absolute;
top: 40%;
left: 10px;
transform: translateY(-50%);
font-size: 1.2em;
color: #fff;
transition: 0.5s;
}

input :focus~label,
input :valid ~ label
{
    top: -5px;
}

.form-group i{
position: absolute;
top: 50%;
right: 20px;
transform: translateY(-50%);
color: #fff;
font-size: 1.2em;
}
p{
text-align: center;
color: #fff;
padding: 10px 0px;
margin-bottom: 6px;
}
p>a{
color: #fff;
font-weight: 600;
text-decoration: none;

}
p>a :hover{
text-decoration: underline;
font-style: italic;
}
#btn{
width: 80%;
height: 40px;
border-radius: 40px;
margin-left: 40px;
font-size: 1.2em;
border: none;
text-transform: uppercase;
font-weight: 600;
cursor: pointer;
transition: 0.5s;
margin-bottom: 5px;


}
#btn:hover{
background-color: rgba(0,0,0,0.3);
color: #fff;
}
